
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nav-link{
  margin-left: 40px;
}


#font-weight{
  font-weight: 400;
}

.links-container a{
  text-decoration: none;
  color: rgb(90, 90, 90);
}

.links-container a:hover{

  color: blue;
}

#support-sec{
  background-color: rgb(56, 126, 209);
  color: white;
}
#support-sec a{
  color: white;
}